@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Courier+Prime&display=swap');

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    color: #333333;
    font-family: 'Lato', sans-serif;
}

.reset-password-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.reset-password-subtitle {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 36px;
    font-family: 'Courier Prime', monospace; 
}

.reset-password-input {
    width: 100%;
    margin-bottom: 16px;
}

.reset-password-button {
    width: 100%;
    background-color: #2e2a2a;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.reset-password-links {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 50px;
    text-align: center; 
}

.link-text {
    font-size: 14px;
    color: #000;
    font-family: 'Courier Prime', monospace; 
    margin: 5px 0;
}

.link-text span {
    font-weight: bold;
}

.link-text a {
    font-weight: 0;
    color: #525252;
    text-decoration: none;
}

.link-text a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) { 
    .reset-password-container {
        margin: 50px auto;
    }
}

@media (max-width: 568px) { 
    .reset-password-title {
        font-size: 1.8rem;
    }

    .reset-password-subtitle {
        font-size: 0.9rem;
    }

    .link-text {
        font-size: 12px;
    }
}
