<div class="reset-password-container">
    <h1 class="reset-password-title">ODZYSKIWANIE HASŁA</h1>
    <p class="reset-password-subtitle">Wprowadź swój email:</p>
    
    <mat-form-field class="reset-password-input" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" required>
    </mat-form-field>
    
    <button mat-raised-button color="primary" class="reset-password-button">ODZYSKAJ</button>
    
    <div class="reset-password-links">
        <p class="link-text">
            <span>Pamiętasz hasło? </span><a href="/login">Wróc do logownia</a>
        </p>
    </div>      
</div>
