<div class="reset-password-container">
    <h1 class="reset-password-title">{{ 'reset-password.recover' | translate }}</h1>
    <p class="reset-password-subtitle">{{ 'reset-password.enter-data' | translate }}</p>
    
    <mat-form-field class="reset-password-input" appearance="fill">
      <mat-label>{{ 'reset-password.email' | translate }}</mat-label>
      <input matInput type="email" required>
    </mat-form-field>
    
    <button mat-raised-button color="primary" class="reset-password-button">{{ 'reset-password.recoverButton' | translate }}</button>
    
    <div class="reset-password-links">
        <p class="link-text">
            <span>{{ 'reset-password.rememberedPassword' | translate }} </span><a href="/login">{{ 'reset-password.backToLogin' | translate }}</a>
        </p>
    </div>      
</div>
