<div class="figure-details" *ngIf="figure">
    <div class="figure-gallery">
        <img [src]="currentImageUrl" alt="Figure Image" class="figure-main-image mobile">

        <div class="image-thumbnails">
            <img 
                [src]="apiUrl + figure.imageUrl" 
                (click)="showImage('main')" 
                [class.selected]="currentImageUrl === apiUrl + figure.imageUrl" 
                alt="Main Thumbnail" 
                class="thumbnail-image">
            
            <img 
                [src]="apiUrl + figure.hoverImageUrl" 
                (click)="showImage('hover')" 
                [class.selected]="currentImageUrl === apiUrl + figure.hoverImageUrl" 
                alt="Hover Thumbnail" 
                class="thumbnail-image">
        </div>

        <img [src]="currentImageUrl" alt="Figure Image" class="figure-main-image pc">
    </div>
    
    <div class="figure-info">
        <h2>{{ translatedTexts["name"] }}: {{ figure.name }} 
            <span *ngIf="figure.number">#{{ figure.number }}</span>  
            <br>
            {{ translatedTexts["series"] }}: {{ figure.series }}
        </h2>
        <ul>
            <li *ngIf="figure.chase">Chase Edition</li>
            <li *ngIf="figure.glowInDark">Glow in the Dark</li>
            <li *ngIf="figure.flocked">Flocked</li>
            <li *ngIf="figure.exclusive">Exclusive Edition</li>
        </ul>
        <mat-card-actions class="card-actions" *ngIf="this.userId">
          <div class="action-button-container" 
            [ngClass]="{'active': figure.isLiked}" 
            (click)="toggleListActive(figure, 'Liked')">
            <button mat-mini-fab class="action-button">
                <mat-icon>favorite</mat-icon>
            </button>
            <span class="action-label">{{ translatedTexts["liked"] }}</span>
          </div>

          <div class="action-button-container" 
            [ngClass]="{'active': figure.isWanted}"
            (click)="toggleListActive(figure, 'Wanted')">
            <button mat-mini-fab class="action-button">
                <mat-icon>star_border</mat-icon>
            </button>
            <span class="action-label">{{ translatedTexts["wanted"] }}</span>
          </div>

          <div class="action-button-container" 
            [ngClass]="{'active': figure.isOwned}"
            (click)="toggleListActive(figure, 'Owned')">
            <button mat-mini-fab class="action-button">
              <mat-icon class="material-symbols-outlined">package_2</mat-icon>
            </button>
            <span class="action-label">{{ translatedTexts["owned"] }}</span>
          </div>
        </mat-card-actions> 
    </div>
</div>

<div class="stat-info">
  <h1>{{ translatedTexts["statistics"] }}</h1>
  <div class="stat-item">
    <span class="stat-title">{{ translatedTexts["statisticsLiked"] }}:</span>
    <span class="stat-value">{{ this.statsCounts['Liked'] }}</span> 
  </div>
  
  <div class="stat-item">
    <span class="stat-title">{{ translatedTexts["statisticsWanted"] }}:</span>
    <span class="stat-value">{{ this.statsCounts['Wanted'] }}</span> 
  </div>

  <div class="stat-item">
    <span class="stat-title">{{ translatedTexts["statisticsOwned"] }}:</span>
    <span class="stat-value">{{ this.statsCounts['Owned'] }}</span> 
  </div>
</div>

<div class="recommended-figurines">
    <div class="header-container">
        <h3>{{ translatedTexts["recommendedFigures"] }}</h3>
      
        <div class="controls">
          <button class="arrow left-arrow" (click)="scrollLeft()">
            <img src="assets/undraw_arrow_dark.svg" alt="Left Arrow">
          </button>
          <button class="arrow right-arrow" (click)="scrollRight()">
            <img src="assets/undraw_arrow_dark.svg" alt="Right Arrow">
          </button>
        </div>
    </div>
      
    <div class="cards-wrapper" #cardsWrapper>
      <div class="card-container">
        <mat-card *ngFor="let figure of visibleFigures" class="card" appearance="outlined" [routerLink]="['/figure', figure.id]">
          <div class="image-container">
            <img 
              mat-card-image 
              [src]="apiUrl + figure.imageUrl" 
              [alt]="figure.name" 
              class="figure-image"
              loading="lazy"
            >
          </div>
          <mat-card-content class="card-content">
            <p class="figure-series">{{ figure.series }}</p>
            <br>
            <p class="figure-name">{{ figure.name }}</p>
          </mat-card-content>       
        </mat-card>
      </div>
    </div>
  
    <div class="dots-container">
      <span *ngFor="let dot of dots; let i = index"
            class="dot"
            [class.active]="i === activeDotIndex"
            (click)="scrollToIndex(i)"></span>
    </div>
</div>