<div class="figurines-list-container">
  <div class="header-container">
    <div class="description">
      <h2>List of Collectible Figurines</h2>
      <p>Browsing and managing the database of collectible figurines</p>
    </div>
  
    <button mat-raised-button color="primary" (click)="openAddDialog()" class="add-figurine-button">
      <mat-icon>add</mat-icon>
      Add Figurine
    </button>
  </div>
  
  <div class="search-container">
    <mat-form-field class="search-field" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
    </mat-form-field>
  </div>
  
  
  <table mat-table [dataSource]="figurines" class="mat-elevation-z8 full-width-table">
    <!-- Image Column -->
    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let figure">
        <!-- <img [src]="figure.imageUrl" alt="{{ figure.name }}" class="figurine-image"/> -->
        <img [src]="apiUrl + figure.imageUrl" alt="figurine image">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let figure">{{ figure.name }}</td>
    </ng-container>

    <!-- Series Column -->
    <ng-container matColumnDef="series" >
      <th mat-header-cell *matHeaderCellDef>Series</th>
      <td mat-cell *matCellDef="let figure">{{ figure.series }}</td>
    </ng-container>

    <!-- Variants Column -->
    <ng-container matColumnDef="variants">
      <th mat-header-cell *matHeaderCellDef>Variants</th>
      <td mat-cell *matCellDef="let figure">
        <ng-container *ngIf="getVariants(figure).length; else noVariants">
          <span *ngFor="let variant of getVariants(figure); let isLast = last">
            {{ variant }}<span *ngIf="!isLast">, </span>
          </span>
        </ng-container>
        <ng-template #noVariants>---</ng-template>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let figure">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openEditDialog(figure)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openDeleteDialog(figure.id, figure.name)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    
    <!-- Table Header and Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator 
    [length]="figurines.data.length" 
    [pageSize]="10" 
    [pageSizeOptions]="[10, 20]" 
    aria-label="Select page" 
    class="mat-elevation-z8"
  >
  </mat-paginator>
</div>

<div class="dialog-delete-container" *ngIf="dialogVisible">
  <div class="dialog-backdrop" (click)="closeDeleteDialog()"></div>
  <div class="dialog">
    <button class="close-btn" (click)="closeDeleteDialog()">×</button>
    <h2>Confirm</h2>
    <div class="warning-message">
      <mat-icon class="warning-icon">warning</mat-icon>
      <p>Are you sure you want to delete: <strong>{{ selectedName }}</strong>?</p>
    </div>
    <div class="button-group">
      <button class="no" (click)="closeDeleteDialog()">No</button>
      <button class="yes" (click)="confirmDelete()">Yes</button>
    </div>
  </div>
</div>

<div class="dialog-edit-container" *ngIf="editDialogVisible">
  <div class="dialog-backdrop" (click)="closeEditDialog()"></div>
  <div class="dialog">
    <h2>Edit Figurine</h2>
    <form (ngSubmit)="saveChanges()" *ngIf="editFigure">

      <div class="form-group">
        <label 
          for="imageUpload" 
          class="image-upload-box" 
          (dragover)="onDragOver($event, 'normal')" 
          (dragleave)="onDragLeave($event, 'normal')" 
          (drop)="onDrop($event, 'normal')"
          [class.dragging]="isDraggingNormal"
        >
          <div *ngIf="!editFigure.imageUrl; else imagePreview">
            <p>Kliknij lub przeciągnij i upuść zdjęcie w pudełku</p>
          </div>
      
          <ng-template #imagePreview>
            <img *ngIf="previewUrl; else existingImage" [src]="previewUrl" alt="Preview" class="image-preview">
            <ng-template #existingImage>
              <img [src]="apiUrl + editFigure.imageUrl" alt="Preview" class="image-preview">
            </ng-template>
          </ng-template>
          
      
          <input 
            type="file" 
            id="imageUpload" 
            (change)="onImageSelected($event, 'normal')" 
            accept="image/*"
            hidden
          />
        </label>
      </div>

      <div class="form-group">
        <label 
          for="hoverImageUpload" 
          class="image-upload-box" 
          (dragover)="onDragOver($event, 'hover')" 
          (dragleave)="onDragLeave($event, 'hover')" 
          (drop)="onDrop($event, 'hover')"
          [class.dragging]="isDraggingHover"
        >
          <div *ngIf="!editFigure.hoverImageUrl; else hoverImagePreview">
            <p>Kliknij lub przeciągnij i upuść zdjęcie bez pudłka</p>
          </div>
      
          <ng-template #hoverImagePreview>
            <img *ngIf="hoverPreviewUrl; else existingHoverImage" [src]="hoverPreviewUrl" alt="Preview" class="image-preview">
            <ng-template #existingHoverImage>
              <img [src]="apiUrl + editFigure.hoverImageUrl" alt="Preview" class="image-preview">
            </ng-template>
          </ng-template>
      
          <input 
            type="file" 
            id="hoverImageUpload" 
            (change)="onImageSelected($event, 'hover')" 
            accept="image/*"
            hidden
          />
        </label>
      </div>
      
      <div class="form-group">
        <label for="name">Name:</label>
        <input 
          id="name"
          [(ngModel)]="editFigure.name"
          name="name"
          type="text"
          required
        />
      </div>

      <div class="form-group">
        <label for="series">Series:</label>
        <input
          id="series"
          [(ngModel)]="editFigure.series"
          name="series"
          type="text"
          required
        />
      </div>

      <div class="form-group">
        <label for="fandom">Fandom:</label>
        <mat-form-field appearance="fill" class="fandom-select-field">
          <mat-label>None Fandom</mat-label>
          <mat-select [(ngModel)]="editFigure['fandomId']" name="fandom">
            
            <mat-option [value]="null">None Fandom</mat-option>
            
            <mat-option *ngFor="let fandom of fandoms" [value]="fandom.id">
              {{ fandom.name }}
            </mat-option>
            
          </mat-select>
        </mat-form-field>
        
      </div>
      

      <div class="variants-container">
        <h3>Select Variants</h3>
        <div
          class="variant-option"
          *ngFor="let variant of variants"
        >
          <label>
            <input
              type="checkbox"
              [(ngModel)]="editFigure[variant.key]"
              [name]="variant.key"
            />
            {{ variant.label }}
          </label>
        </div>
      </div>

      <div class="button-group">
        <button type="button" class="no" (click)="closeEditDialog()">Cancel</button>
        <button type="submit" class="yes">Save</button>
      </div>
    </form>
    <button class="close-btn" (click)="closeEditDialog()">×</button>
  </div>
</div>
