<form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="profile-container">
      <h2 class="profile-title">Konto</h2>
      <p class="avatar-description">Zaktualizuj dane dotyczące konta.</p>
  
      <p class="separator"></p>
  
      <!-- Email -->
      <div class="input-group">
        <label class="title" for="email">E-mail:</label>
        <div class="input-wrapper">
          <mat-icon class="ac">mail</mat-icon>
          <input type="email" id="email" formControlName="email" placeholder="E-mail">
        </div>
        <mat-error *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
          Wprowadź poprawny adres email
        </mat-error>         
      </div>
  
      <!-- Aktualne hasło -->
      <div class="input-group">
        <label class="title" for="current-password">Aktualne hasło:</label>
        <div class="input-wrapper">
          <mat-icon class="ac">lock</mat-icon>
          <input type="password" id="current-password" formControlName="currentPassword" placeholder="Aktualne hasło">
        </div>
        <mat-error *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
            Hasło jest wymagane
        </mat-error>
      </div>
  
      <!-- Nowe hasło -->
      <div class="input-group">
        <label class="title" for="new-password">Nowe hasło:</label>
        <div class="input-wrapper">
          <mat-icon class="ac">lock</mat-icon>
          <input type="password" id="new-password" formControlName="newPassword" placeholder="Nowe hasło">
        </div>
        <mat-error *ngIf="profileForm.get('newPassword')?.hasError('minlength') && profileForm.get('newPassword')?.touched">
            Hasło musi mieć minimum 8 znaków
        </mat-error>
        <mat-error *ngIf="profileForm.get('newPassword')?.hasError('requiredIfOtherExists')">
            Oba pola hasła muszą być wypełnione
        </mat-error>
      </div>
  
      <!-- Powtórz nowe hasło -->
      <div class="input-group">
        <label class="title" for="confirm-password">Powtórz nowe hasło:</label>
        <div class="input-wrapper">
          <mat-icon class="ac">lock</mat-icon>
          <input type="password" id="confirm-password" formControlName="confirmPassword" placeholder="Powtórz nowe hasło">
        </div>
        <mat-error *ngIf="profileForm.get('confirmPassword')?.hasError('minlength') && profileForm.get('confirmPassword')?.touched">
            Hasło musi mieć minimum 8 znaków
        </mat-error>
        <mat-error *ngIf="profileForm.get('confirmPassword')?.hasError('mismatch')">
          Hasła nie są identyczne
        </mat-error>
        <mat-error *ngIf="profileForm.get('confirmPassword')?.hasError('requiredIfOtherExists')">
            Oba pola hasła muszą być wypełnione
        </mat-error>
      </div>
      
      <div class="footer-buttons-container">
        <button mat-button class="save-button footer-button" type="submit" [disabled]="profileForm.invalid">Zapisz profil</button>
        <button mat-button class="delete-account-button footer-button" type="button" (click)="deleteAccount()">Usuń konto</button>
      </div>  
    </div>
</form>
  