<div class="account-settings">
  <!-- Profil Section -->
  <div class="profile-header">
    <div class="profile-picture">
      <img [src]="avatarPreview || (apiUrl + user.avatarUrl)" alt="Profilowe">
    </div>
  
    <!-- Przycisk wyboru pliku -->
    <input type="file" id="avatarUpload" (change)="onAvatarSelected($event)" accept="image/*" hidden>
  
    <!-- Przycisk "Wybierz zdjęcie" -->
    <button mat-button class="upload-button" (click)="triggerFileInput()">
      {{ 'settings.account_settings_page.select_photo' | translate }}
    </button>
  
    <!-- Przycisk "Zapisz" (ukrywany, jeśli nie wybrano pliku) -->
    <button mat-button class="save-button" *ngIf="avatarPreview" (click)="saveAvatar()">
      {{ 'settings.account_settings_page.save_photo' | translate }}
    </button>
  
    <!-- Przycisk "Usuń zdjęcie" -->
    <button mat-button class="delete-button" *ngIf="user.avatarUrl" (click)="deleteAvatar()">
      {{ 'settings.account_settings_page.delete_photo' | translate }}
    </button>
  </div>
  
  
  
  <!-- Form -->
  <div class="settings-form">
    <div class="input-group">
      <span>{{ user.email }}</span>
      <button mat-button class="edit-button" (click)="openEditDialog('Email', user.email)">{{ 'settings.account_settings_page.change' | translate }}</button>
    </div>
    <div class="input-group">
      <span>{{ user.username }}</span>
      <button mat-button class="edit-button" (click)="openEditDialog('Username', user.username)">{{ 'settings.account_settings_page.change' | translate }}</button>
    </div>
    <div class="input-group">
      <span>Hasło</span>
      <button mat-button class="edit-button" (click)="openEditDialog('Password', '')">{{ 'settings.account_settings_page.change' | translate }}</button>
    </div>
  </div>
      
  <!-- Delete Account -->
  <div class="delete-section">
    <button mat-button class="delete-button">
      <mat-icon>delete</mat-icon> {{ 'settings.account_settings_page.delete_account' | translate }}
    </button>
  </div>
</div>

<!-- Dialog for Editing -->
<div class="dialog-edit-container" *ngIf="editDialogVisible">
  <div class="dialog-backdrop" (click)="closeEditDialog()"></div>
  <div class="dialog">
    <h2>Edit {{ editField }}</h2>
    <form (ngSubmit)="saveChanges()">
      
      <div class="form-group">
        <label for="editInput">{{ editField }}<span *ngIf="editField != 'Password'">: {{ currentValue }}</span></label>

        <div *ngIf="editField != 'Password'">
          <input 
            id="editInput"
            [(ngModel)]="editValue"
            name="editInput"
            type="text"
            required
            minlength="3"
            placeholder="Enter new {{ editField | lowercase }}"
          />

          <input 
            id="editInput"
            [(ngModel)]="editConfirmValue"
            name="editInput"
            type="text"
            required
            minlength="3"
            placeholder="Confirm new {{ editField | lowercase }}"
          />
        </div>

        <div *ngIf="editField === 'Password'">
          <input 
            id="currentPassword"
            [(ngModel)]="currentPassword"
            name="currentPassword"
            type="password"
            placeholder="Current Password"
            required 
          />
          <input 
            id="newPassword"
            [(ngModel)]="newPassword"
            name="newPassword"
            type="password"
            placeholder="New Password"
            required 
          />
          <input 
            id="confirmNewPassword"
            [(ngModel)]="confirmNewPassword"
            name="confirmNewPassword"
            type="password"
            placeholder="Confirm New Password"
            required 
          />
        </div>
        <span class="error-message" [class.show]="errorMessage" #errorBox>{{ errorMessage }}</span>
        <!-- <span class="error-message" #errorBox>{{ errorMessage }}</span> -->
      </div>

      <div class="button-group">
        <button type="button" class="no" (click)="closeEditDialog()">{{ 'settings.account_settings_page.cancel' | translate }}</button>
        <button type="submit" class="yes">{{ 'settings.account_settings_page.save' | translate }}</button>
      </div>
    </form>

    <button class="close-btn" (click)="closeEditDialog()">×</button>
  </div>
</div>

  