<mat-toolbar>
    <a routerLink="figures-showcase" class="figures-showcase">
        <span>{{ 'navbar.collectible_figures' | translate }}</span>
    </a>

    <div class="spacer"></div>

    <div class="search-container">
        <mat-form-field class="search-input">
            <input matInput placeholder="{{ 'navbar.search_placeholder' | translate }}" [(ngModel)]="searchTerm" (input)="searchFigures()">
        </mat-form-field>        
    </div>
    
    <div class="profile-language">
        <button 
            mat-icon-button 
            class="logged-in"
            [matMenuTriggerFor]="menu" 
            *ngIf="isLoggedIn; else loginRedirect"
        >
            <mat-icon fontIcon="person"></mat-icon>
        </button>

        <ng-template #loginRedirect>
            <button mat-icon-button class="profile-icon" routerLink="/login">
                <mat-icon fontIcon="person"></mat-icon>
            </button>
        </ng-template>

        <mat-menu #menu="matMenu">
            <!-- Admin Panel - only admin -->
            <button mat-menu-item routerLink="/admin" *ngIf="currentUser?.permission === 'ADMIN'">
                <mat-icon>admin_panel_settings</mat-icon>
                <span>{{ 'navbar.admin_panel' | translate }}</span>
            </button>

            <!-- Figurine Lists -->
            <button mat-menu-item routerLink="/figurine-lists">
                <mat-icon>smart_toy</mat-icon>
                <span>{{ 'navbar.figurine_lists' | translate }}</span>
            </button>

            <!-- Settings -->
            <button mat-menu-item routerLink="/settings">
                <mat-icon>format_list_bulleted</mat-icon>
                <span>{{ 'navbar.settings' | translate }}</span>
            </button>

            <!-- Logout -->
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>{{ 'navbar.logout' | translate }}</span>
            </button>
        </mat-menu>

        <div class="vertical-divider"></div>
        
        <button mat-button class="language-button" *ngIf="currentLanguage !== 'en'" (click)="changeLanguage('en')">EN</button>
        <button mat-button class="language-button" *ngIf="currentLanguage !== 'pl'" (click)="changeLanguage('pl')">PL</button>
    </div>
</mat-toolbar>

<!-- <mat-toolbar class="menu-toolbar">
    <nav>
        <a mat-button routerLink="news">Nowości</a> 
        <a mat-button routerLink="">Kategorie</a> 
        <a mat-button routerLink="fandoms">Fandomy</a>
        <a mat-button routerLink="">Ekskluzywne</a>
    </nav>
</mat-toolbar> -->
