.figurine-container {
    display: flex;
    min-height: 80vh; 
    padding: 30px 40px; 
    gap: 40px; 
}

.figurine-menu {
    width: 250px; 
    padding: 0 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

.figurine-menu h2 {
    font-size: 2.2rem; 
    margin: 10px 0; 
    color: #333;
}

::ng-deep.mdc-list-item__primary-text {
    font-family: 'Poppins', sans-serif !important;
}

.figurine-menu mat-list {
    padding: 0;
}

.figurine-menu mat-list-item {
    cursor: pointer; 
    padding: 12px 16px;
    margin: 5px auto; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.figurine-menu mat-list-item:hover {
    background-color: #e0e0e0; 
}

.figurine-menu mat-list-item.active {
    background-color: #2a2a2a;    
}

.figurine-menu mat-list-item.active ::ng-deep.mdc-list-item__primary-text {
    color: white !important;   
}

.figurine-panel {
    flex-grow: 1;
    margin: 50px 5% 25px 5%;
    padding: 0;
}

.figurine-panel mat-list {
    padding: 0;
}

.figurine-panel .figurine-item {
    display: flex ; 
    flex-direction: row ; 
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.figurine-panel img {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 20px;
    border: 2px solid #ff4081; // or #ddd
}

.figurine-panel span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.no-figures {
    text-align: center;
    color: #777;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

@media (max-width: 1124px) {
    .figurine-container {
        flex-direction: column; 
    }

    .figurine-menu {
        width: 95%;
        padding: 10px; 
        margin: 0; 
        background-color: #fff;
    }

    .figurine-menu mat-list-item {
        width: 35%;
    }

    .figurine-panel {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .figurine-menu h2 {
        font-size: 1.8rem;
    }

    .figurine-panel {
        padding: 10px 0; 
        margin: 20px 0;
    }

    .figurine-menu mat-list-item {
        width: 90%;
    }

    ::ng-deep.mdc-list-item__primary-text {
        font-size: 14px !important;
    }
}