<div class="account-settings">
    <div class="settings-form">
      <h2>Powiadomienia</h2>
  
      <div class="notification-group">
        <span>Email Notifications</span>
        <mat-slide-toggle [(ngModel)]="notifications.email"></mat-slide-toggle>
      </div>
  
      <div class="notification-group">
        <span>Push Notifications</span>
        <mat-slide-toggle [(ngModel)]="notifications.push"></mat-slide-toggle>
      </div>
  
      <div class="notification-group">
        <span>SMS Notifications</span>
        <mat-slide-toggle [(ngModel)]="notifications.sms"></mat-slide-toggle>
      </div>
  
    </div>
  </div>
  