<div class="account-settings">
    <div class="settings-form">
      <h2>{{ 'settings.notifications_page.notifications' | translate }}</h2>
  
      <div class="notification-group">
        <span>Email Notifications</span>
        <mat-slide-toggle [(ngModel)]="notifications.email"></mat-slide-toggle>
      </div>
  
      <div class="notification-group">
        <span>Notifications 1</span>
        <mat-slide-toggle [(ngModel)]="notifications.push"></mat-slide-toggle>
      </div>
  
      <div class="notification-group">
        <span>Notifications 2</span>
        <mat-slide-toggle [(ngModel)]="notifications.sms"></mat-slide-toggle>
      </div>
  
    </div>
  </div>
  