<div class="profile-container">
    <h2 class="profile-title">{{ 'settings.profile_settings_page.profile' | translate }}</h2>
    <p class="avatar-description">{{ 'settings.profile_settings_page.showYourself' | translate }}</p>

    <p class="separator"></p>

    <label class="title" for="avatar">{{ 'settings.profile_settings_page.yourAvatar' | translate }}</label>
    <div class="profile-header">
        <div class="profile-content">
            <div class="profile-picture">
                <img *ngIf="user?.avatarUrl || selectedFile; else defaultAvatar" [src]="avatarPreview || (apiUrl + user?.avatarUrl)" alt="Profilowe">
                
                <ng-template #defaultAvatar>
                    <mat-icon class="default-avatar">person</mat-icon>
                </ng-template>
            </div>
        </div>

        <div class="profile-actions">
            <input type="file" id="avatarUpload" (change)="onAvatarSelected($event)" accept="image/*" hidden>
            <button mat-button class="upload-button" (click)="triggerFileInput()">{{ 'settings.profile_settings_page.selectPhoto' | translate }}</button>
            <button mat-button *ngIf="user?.avatarUrl || selectedFile" class="delete-photo-button" (click)="deleteAvatar()">{{ 'settings.profile_settings_page.deletePhoto' | translate }}</button>
        </div>
        
    </div>
    <p class="info">{{ 'settings.profile_settings_page.photoDescription' | translate }}</p>

    <div class="input-group">
        <label class="title" for="username">{{ 'settings.profile_settings_page.username' | translate }}</label>
        <div class="input-wrapper">
            <mat-icon class="username">person</mat-icon>
            <input type="text" id="username" [(ngModel)]="user!.username" placeholder="Nazwa użytkownika" [disabled]="isDisabledUsername">
        </div>
          
        <p class="info">{{ 'settings.profile_settings_page.usernameDescription' | translate }}</p>
    </div>
    
    <button mat-button class="save-button footer-button" (click)="saveProfile()">{{ 'settings.saveProfile' | translate }}</button>
</div>
