<div class="profile-box">
    <div class="profile-image">
        <img *ngIf="user?.avatarUrl; else defaultAvatar" [src]="apiUrl + user?.avatarUrl" alt="Zdjęcie użytkownika">
        <ng-template #defaultAvatar>
            <mat-icon class="default-avatar">person</mat-icon>
        </ng-template>
    </div>
    <div class="profile-info">
        <h2 class="username">{{ user?.username }}</h2>
        <div class="stats">
            <div class="stat">
                <span class="stat-label">{{ translatedTexts["liked"] }}:</span>
                <span class="stat-value">{{ stats.liked }}</span>
            </div>
            <div class="stat">
                <span class="stat-label">{{ translatedTexts["wanted"] }}:</span>
                <span class="stat-value">{{ stats.wanted }}</span>
            </div>
            <div class="stat">
                <span class="stat-label">{{ translatedTexts["owned"] }}:</span>
                <span class="stat-value">{{ stats.owned }}</span>
            </div>
        </div>
    </div>
    <div class="add-friend-container" *ngIf="isLoggedIn && loggedInUserId !== user?.id">
        <div *ngIf="!isFriend">
            <button class="add-friend-button" *ngIf="!isFriendRequestSent" (click)="addFriend()">
                Dodaj znajomego
            </button>
            <button class="cancel-friend-button" *ngIf="isFriendRequestSent" (click)="cancelFriendRequest()"> <!--  -->
                Anuluj zaproszenie
            </button>
        </div>
        <button class="remove-friend-button" *ngIf="isFriend" (click)="removeFriend()">
            Usuń znajomego
        </button>
    </div>
</div>

<div class="buttons-box">
    <button class="btn" id="favorite" (click)="setActive('liked')" [class.active]="activeItem === 'liked'">
        {{ translatedTexts["favourites"] }}
    </button>
    <button class="btn" id="wanted" (click)="setActive('wanted')" [class.active]="activeItem === 'wanted'">
        {{ translatedTexts["wanted"] }}
    </button>
    <button class="btn" id="owned" (click)="setActive('owned')" [class.active]="activeItem === 'owned'">
        {{ translatedTexts["owned"] }}
    </button>
</div>
  
<div class="figurine-panel">
    <ng-container *ngIf="getActiveFigurines().length > 0; else noFigurines">
        <div class="figurine-list">
            <div class="figurine-item" *ngFor="let figurine of getActiveFigurines(); let i = index" [ngClass]="{ 'new-row': i % 2 === 0 }">
                <mat-card class="figurine" appearance="outlined" [routerLink]="['/figure', figurine.id]">
                    <div class="image-container">
                        <img 
                            mat-card-image 
                            [src]="apiUrl + figurine.imageUrl" 
                            [alt]="figurine.name" 
                            class="figure-image" 
                            loading="lazy">
                    </div>
                    <!-- <button mat-icon-button class="delete-icon">
                        <mat-icon>delete</mat-icon>
                    </button> -->
                    <mat-card-content class="figurine-content">
                        <p class="figure-series">{{ figurine.series }}</p>
                        <p class="figure-name">{{ figurine.name }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>

    <ng-template #noFigurines>
        <p class="no-figures">Brak figurek na tej liście.</p>
    </ng-template>
</div>
  
