<div class="main-container">

  <button 
    class="filter-button" 
    (click)="toggleFilters()" 
    *ngIf="isMobile">
    <mat-icon>filter_list</mat-icon>
    <span>{{ 'figures-showcase.filters' | translate }}</span>
  </button>

  <div class="filters-container" *ngIf="!isMobile || showFilters">
    <h2 class="title">{{ 'figures-showcase.filters' | translate }}</h2>
  
    <mat-tree [dataSource]="dataFilters" [treeControl]="treeControl">
      
      <!-- Bez dzieci -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngClass]="{'hidden': getFigureCount(node) === 0}">
        <div class="tree-node-content" *ngIf="getFigureCount(node) > 0">
          <label class="node-label">
            <mat-checkbox class="node-checkbox" (change)="onCheckboxChange(node)"></mat-checkbox>
            <span [ngClass]="{'bold-text': node.checked}" class="node-name">{{ node.name }}</span>
          </label>
          <span class="figure-count">&lpar;{{ getFigureCount(node) }}&rpar;</span> <!-- Liczba figurek -->
        </div>
      </mat-tree-node>
      
      <!-- Z dziećmi -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle class="parent first-parent">
        <div class="tree-node-content">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>
          <span class="node-name">{{ node.name }}</span>
        </div>
      </mat-tree-node>
  
    </mat-tree>
  </div>

  <div class="card-section">

    <div class="paginator">
      <button 
        (click)="previousPage()" 
        [disabled]="currentPage === 0" 
        class="paginator-button"
        [ngClass]="{'hidden': currentPage === 0}"> 
        <mat-icon>chevron_left</mat-icon>
      </button>
      
      <div class="page-buttons">
        <button 
          *ngFor="let page of pages" 
          class="page-button" 
          [class.active]="page === currentPage" 
          (click)="goToPage(page)">
          {{ page + 1 }}
        </button>
      </div>
      
      <button 
        (click)="nextPage()" 
        [disabled]="currentPage >= totalPages - 1" 
        class="paginator-button"
        [ngClass]="{'hidden': currentPage >= totalPages - 1}">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <div class="card-container">
      <mat-card *ngFor="let figure of paginatedFigures" class="card" appearance="outlined">
        <div class="image-container">
          <a [routerLink]="['/figure', figure.id]">
            <img 
              mat-card-image 
              [src]="figure.imageUrl" 
              [alt]="figure.name" 
              (mouseover)="onMouseOver(figure, $event)" 
              (mouseout)="onMouseOut(figure, $event)" 
              class="figure-image"
            >
          </a>
        </div>
        <mat-card-content class="card-content">
          <p class="figure-series">{{ figure.series }}</p>
          <br>
          <p class="figure-name">{{ figure.name }}</p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-mini-fab [ngClass]="{'active': figure.isActive}" (click)="toggleActive(figure)">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div> 
</div>
