@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Courier+Prime&display=swap');

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f3f5f6;
}

.dialog-open {
    overflow: hidden !important;
}
