@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Courier+Prime&display=swap');

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f3f5f6;
}

.dialog-open {
    overflow: hidden !important;
}

:root {
    --mdc-snackbar-supporting-text-color: white; 
    --mdc-snackbar-container-shape: 4px;
    --mdc-snackbar-container-color: #323232; 
}
  
:root {
    .error-snackbar {
        --mdc-snackbar-container-color: #ac4f48; 
        --mat-snack-bar-button-color: white;  
    }
}

:root {
    .success-snackbar {
        --mdc-snackbar-container-color: #448046;
        --mat-snack-bar-button-color: white;  
    }
}