<div class="dashboard-container">
    <div class="dashboard-card">
        <div class="card-header">
            <div class="card-title">Total Figurines</div>
        </div>
        <div class="card-value">{{ totalFigurines }}</div>
    </div>

    <div class="dashboard-card">
        <div class="card-header">
            <div class="card-title">Total Users</div>
        </div>
        <div class="card-value">{{ totalUsers }}</div>
    </div>

    <div class="dashboard-card">
        <div class="card-header">
            <div class="card-title">Active Users</div>
            <div class="card-subtitle">(Last Month)</div>
        </div>
        <div class="card-value">{{ activeUsers }}</div>
    </div>

    <div class="dashboard-card clickable-card" routerLink="/figures">
        <div class="card-header">
            <div class="card-title">Go to Figurines</div>
        </div>
        <div class="card-value">📦</div>
    </div>

    <div class="dashboard-card clickable-card" routerLink="/variants">
        <div class="card-header">
            <div class="card-title">Go to Variants</div>
        </div>
        <div class="card-value">🎨</div>
    </div>

    <div class="dashboard-card clickable-card" routerLink="/users">
        <div class="card-header">
            <div class="card-title">Go to Users</div>
        </div>
        <div class="card-value">👥</div>
    </div>
</div>
