<div class="dashboard-container">
    <div class="dashboard-card">
        <div class="card-header">
            <div class="card-title">{{ translatedTexts["totalFigurines"] }}</div>
        </div>
        <div class="card-value">{{ totalFigurines }}</div>
    </div>

    <div class="dashboard-card">
        <div class="card-header">
            <div class="card-title">{{ translatedTexts["totalUsers"] }}</div>
        </div>
        <div class="card-value">{{ totalUsers }}</div>
    </div>

    <div class="dashboard-card">
        <div class="card-header">
            <div class="card-title">{{ translatedTexts["activeUsers"] }}</div>
            <div class="card-subtitle">({{ translatedTexts["lastMonth"] }})</div>
        </div>
        <div class="card-value">{{ activeUsers }}</div>
    </div>

    <div class="dashboard-card clickable-card" (click)='navigateToFigurines("/admin/figurines")'>
        <div class="card-header">
            <div class="card-title">{{ translatedTexts["goToFigurines"] }}</div>
        </div>
        <div class="card-value">
            <mat-icon>arrow_circle_right</mat-icon>
        </div>
    </div>

    <div class="dashboard-card clickable-card" (click)='navigateToFigurines("/admin/fandoms")'>
        <div class="card-header">
            <div class="card-title">{{ translatedTexts["goToFadndoms"] }}</div>
        </div>
        <div class="card-value">
            <mat-icon>arrow_circle_right</mat-icon>
        </div>
    </div>

    <div class="dashboard-card clickable-card" (click)='navigateToFigurines("/admin/users")'>
        <div class="card-header">
            <div class="card-title">{{ translatedTexts["goToUsers"] }}</div>
        </div>
        <div class="card-value">
            <mat-icon>arrow_circle_right</mat-icon>
        </div>
    </div>
</div>
