<mat-sidenav-container class="container">
  <!-- Menu -->
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpened" class="sidenav">
    <div class="tree-node-content dashboard" (click)="navigateTo('/admin/dashboard')">
      <mat-icon>cottage</mat-icon>
      <span class="dashboard-name">{{ 'admin_panel.dashboard' | translate }}</span>
    </div>
    <span class="menu-title">{{ 'admin_panel.management' | translate }}</span>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <!-- Bez dzieci -->
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let item" matTreeNodePadding class="child">
          <div class="tree-node-content tree-child" (click)="navigateTo(item.route)">
            <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            {{ item.name }}
          </div>
        </mat-tree-node>
      </mat-tree>

      <!-- Z dziećmi -->
      <mat-tree-node *matTreeNodeDef="let item; when: hasChild" matTreeNodePadding matTreeNodeToggle>
        <div class="tree-node-content">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + item.name">
            <mat-icon>{{treeControl.isExpanded(item) ? 'expand_more' : 'chevron_right'}}</mat-icon>
          </button>
        </div>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>
  
  <!-- Main content -->
  <mat-sidenav-content class="main">
    <div class="info-bar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>{{ sidenav.opened ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span class="path">{{ 'admin_panel.adminPanel' | translate }}</span>
    </div>
  
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
  