<div class="figurines-list-container">
    <div class="header-container">
      <div class="description">
        <h2>List of Fandoms of Collectible Figurines</h2>
        <p>Browsing and managing the database of collectible figurines fandoms</p>
      </div>  

      <button mat-raised-button color="primary" (click)="openAddDialog()" class="add-figurine-button">
        <mat-icon>add</mat-icon>
        Add Fandom
      </button>
    </div>
    
    <div class="search-container">
      <mat-form-field class="search-field" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." />
      </mat-form-field>
    </div>
    
    <table mat-table [dataSource]="fandoms" class="mat-elevation-z8 full-width-table">
      <!-- Image Column -->
      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let fandom">
          <!-- <img [src]="'fandoms-images/' + fandom.imageUrl" alt="{{ fandom.name}}" class="figurine-image" /> -->
          <!-- <img src="figurines-images/000000001a.jpg" alt="{{ fandom.name}}" class="figurine-image" /> -->
          <img [src]="apiUrl + fandom.imageUrl" alt="{{ fandom.name}}" class="figurine-image" />
        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let fandom">{{ fandom.name }}</td>
      </ng-container>
  
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let fandom">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEditDialog(fandom)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openDeleteDialog(fandom.id, fandom.name)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      
      <!-- Table Header and Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator 
      [length]="fandoms.data.length" 
      [pageSize]="10" 
      [pageSizeOptions]="[10, 20]" 
      aria-label="Select page" 
      class="mat-elevation-z8"
    >
    </mat-paginator>
  </div>

  <div class="dialog-delete-container" *ngIf="dialogVisible">
    <div class="dialog-backdrop" (click)="closeDeleteDialog()"></div>
    <div class="dialog">
      <button class="close-btn" (click)="closeDeleteDialog()">×</button>
      <h2>Confirm</h2>
      <div class="warning-message">
        <mat-icon class="warning-icon">warning</mat-icon>
        <p>Are you sure you want to delete: <strong>{{ selectedName }}</strong>?</p>
      </div>
      <div class="button-group">
        <button class="no" (click)="closeDeleteDialog()">No</button>
        <button class="yes" (click)="confirmDelete()">Yes</button>
      </div>
    </div>
  </div>
  
  <div class="dialog-edit-container" *ngIf="editDialogVisible">
    <div class="dialog-backdrop" (click)="closeEditDialog()"></div>
    <div class="dialog">
      <h2 *ngIf="!editFandom?.id">Add Fandom</h2>
      <h2 *ngIf="editFandom?.id">Edit Fandom</h2>
      <form (ngSubmit)="saveChanges()" *ngIf="editFandom">

        <div class="form-group">
          <label 
            for="imageUpload" 
            class="image-upload-box" 
            (dragover)="onDragOver($event)" 
            (dragleave)="onDragLeave($event)" 
            (drop)="onDrop($event)"
            [class.dragging]="isDragging"
          >
            <div *ngIf="!editFandom.imageUrl; else imagePreview">
              <p>Kliknij lub przeciągnij i upuść</p>
            </div>
        
            <ng-template #imagePreview>
              <img *ngIf="previewUrl; else existingImage" [src]="previewUrl" alt="Preview" class="image-preview">
              <ng-template #existingImage>
                <img [src]="apiUrl + editFandom.imageUrl" alt="Preview" class="image-preview" />
              </ng-template>
            </ng-template>
        
            <!-- <ng-template #imagePreview>
              <img *ngIf="previewUrl; else existingImage" [src]="previewUrl" alt="Preview" class="image-preview">
              <ng-template #existingImage>
                <img [src]="apiUrl + editFigure.imageUrl" alt="Preview" class="image-preview">
              </ng-template>
            </ng-template> -->

            <input 
              type="file" 
              id="imageUpload" 
              (change)="onImageSelected($event)" 
              accept="image/*"
              hidden
            />
          </label>
        </div>

        <div class="form-group">
          <label for="name">Name:</label>
          <input 
            id="name"
            [(ngModel)]="editFandom.name"
            name="name"
            type="text"
            required
          />
        </div>  

        <div class="button-group">
          <button type="button" class="no" (click)="closeEditDialog()">Cancel</button>
          <button type="submit" class="yes">Save</button>
        </div>
      </form>
      <button class="close-btn" (click)="closeEditDialog()">×</button>
    </div>
  </div>