<div class="register-container">
    <h1 class="register-title">{{ 'register.register' | translate }}</h1>
    <p class="register-subtitle">{{ 'register.enter-data' | translate }}</p>
    
    <mat-form-field class="register-input" appearance="fill">
      <mat-label>{{ 'register.username' | translate }}</mat-label>
      <input matInput type="text" required>
    </mat-form-field>
    
    <mat-form-field class="register-input" appearance="fill">
      <mat-label>{{ 'register.email' | translate }}</mat-label>
      <input matInput type="email" required>
    </mat-form-field>
    
    <mat-form-field class="register-input" appearance="fill">
      <mat-label>{{ 'register.password' | translate }}</mat-label>
      <input matInput type="password" required>
    </mat-form-field>

    <mat-form-field class="register-input" appearance="fill">
      <mat-label>{{ 'register.confirmPassword' | translate }}</mat-label>
      <input matInput type="password" required>
    </mat-form-field>
    
    <button mat-raised-button color="primary" class="register-button">{{ 'register.registerButton' | translate }}</button>
    
    <div class="register-links">
        <p class="link-text">
            <span>{{ 'register.alreadyAccount' | translate }} </span><a href="login">{{ 'register.loginHere' | translate }}</a>
        </p>
    </div>      
</div>
