<div class="settings-container">
  <div class="settings-menu">
    <h2>{{ 'settings.settings' | translate }}</h2> 
    <mat-list>
      <mat-list-item routerLink="account" routerLinkActive="active">{{ 'settings.account_settings' | translate }}</mat-list-item>
      <mat-list-item routerLink="notifications" routerLinkActive="active">{{ 'settings.notifications' | translate }}</mat-list-item>
    </mat-list>
  </div>
  
  <div class="settings-panel">
    <router-outlet></router-outlet>
  </div>
</div>
  